:root
{
    --bright-green: #95c19e;
    --dark-green: #00775b;
    --dark-orange: #ff815b;
    --olivine: #9cb380ff;
    --cambridge-blue: #94a89aff;
    --khaki: #c7ac92ff;
    --chestnut: #a44a3fff;
}

header
{
    background-color: var(--bright-green);
    color: white;
}
.middle
{
    background-color: white;
}
footer
{
    background-color: var(--bright-green);
}
