*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrapper
{
    display: '';
}
header
{
    .header-inner
    {
        display: flex;
        justify-content: center;

        ul
        {
            display: inline-flex;
        }
        li
        {
            padding: 20px;
            list-style: none;
            font-size: 16px;
        }
        li:hover
        {
            background-color: #4b4b4b;
        }
    }
    
}
.middle
{
    height: 100vh;
    color: white;
}
/* BLOCK-ONE */
.block-one
{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img text";
    /* background-color: rgb(255, 152, 152); */
}
.block-one-img
{
    grid-area: img;
    width: 640px;
    margin: 40px;
    background-color: rgb(142, 211, 142);
}
.block-one-text
{
    grid-area: text;
    margin: 40px;
    color: black;
    background-color: rgb(163, 163, 255);
}
.head-big
{
    font-size: 72px;
    margin: 40px;
}
.head-one
{
    font-size: 36px;
    margin: 40px;
}

.footer-inner
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "social numbers";
    color: white;
}
.smedia
{
    grid-area: social;
    margin: 40px;
}
.smedia ul
{
    list-style: none;

}
.smedia a
{
    text-decoration: none;
    color: white;
}
.smedia a:hover
{
    color: black;
}
