*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header
{
    height: 65px;
    .header-inner
    {
        display: flex;
        justify-content: center;
        background-color: #9900ff49;
       
        ul
        {
            display: inline-flex;
        }
        li
        {
            padding: 20px;
            list-style: none;
            font-size: 16px;
        }
        li:hover
        {
            background-color: #4b4b4b;
        }
    }
    
}
.middle-inner
{
    height: 200vh;
    color: white;
    background-color: #4b4b4b;

    .grid-cards
    {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: (2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "card-one       card-two"
        "card-three     card-four"
        "card-five      card-six";
        margin: auto;
        background-color: red;
    }
    .grid-card
    {
        background-color: blue;
    }
    .card-one
    {
        grid-area: card-one;
    }
    .card-two
    {
        grid-area: card-two;
    }
    .card-three
    {
        grid-area: card-three;
    }
    .card-four
    {
        grid-area: card-four;
    }
    .card-five
    {
        grid-area: card-five;
    }
    .card-six
    {
        grid-area: card-six;
    }
    
}
footer
{
    display: flex;
    justify-content: center;
    background-color: #9900ff49;

    .footer-inner
    {
        
    }
}
